{% if cmsPosts.length %}
  <section>
    <ol reversed>
      {% for item in cmsPosts %}
        <hr/>
        <li>
          <h3>
            <a href="{{ item.fields.slug }}" rel="bookmark">{{ item.fields.title }}</a>
          </h3>
          <time datetime="{{ item.sys.updatedAt | htmlDate }}">{{ item.sys.updatedAt | dateFilter }}</time>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}
